.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 15px 2.5rem;
}

.nav__list {
	display: flex;
	gap: 1rem;
	margin-bottom: 2.5rem;
}

.nav__list__item {
	font-size: 1.25rem;
}
