.presentation {
	background-image: url("../assets/img/index/banner.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	min-height: 600px;
	height: calc(100vh - 15rem);
	color: #fff;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.presentation__title {
	text-shadow: 2px 3px var(--caramel);
}

.presentation__list {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 2.5rem;
}

.about {
	background-color: var(--bg_platinum);
}

.about__title {
	text-align: center;
}

.about__div {
	display: flex;
	justify-content: space-around;
}

.about__div--text {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	flex-shrink: 2;
}

.about__img {
	max-width: 640px;
	height: auto;
	max-width: 640px;
	float: right;
	flex-grow: 2;
	box-shadow: 5px 7px 7px rgba(0, 0, 0, 0.25);
	transition: 0.3s ease-out;
}

.about__img:hover {
	box-shadow: 7px 9px 5px rgba(0, 0, 0, 0.45);
}

@media screen and (max-width: 1400px) {
	.about__div {
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: 1rem;
	}
}
